body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f8f8ff, #ffebcd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    opacity: 0.9;
    background-color: #faf8f8;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    
}

h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

button.btn {
    background: linear-gradient(135deg, #ee82ee, #ff1493);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button.btn:hover {
    background-color: #45a049;
}

.add_bot_line {
    border-top: 1px solid;
    padding-top: 10px;
}

